{% extends 'app/base.html' %}
{% load static %}
{% block title %}News detail page{% endblock %}

{% block content %}
    <h1 >{{ new.title }}</h1>
    <p>Published date: {{ new.publish_time }}</p>
    <p><img src="{{ new.image.url }}"></p>
    <p>{{ new.body | linebreaks }}</p>

    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="card-footer text-center">
        <a href="{% url 'news_edit_page' new.slug %}" class="btn btn-danger ml-2">Edit</a>|
        <a href="{% url 'news_delete_page' new.slug %}" class=" btn btn-info ml-2">Delete</a>
    </div>
    {% endif %}<br>

    {% for comment in comments %}
        <div class="comments" style="padding: 10px">
            <p class="font-weight-bold">
                {{ comment.user }}
                <span class="text-muted font-weight-normal">
                    {{ comment.created_at }}
                </span>
            </p>
            {{ comment.comment | linebreaks }}
        </div>
    {% endfor %}

    {% if user.is_authenticated %}

    <div class="col-md-8 card mb-4 mt-3">
        <div class="card-body">
            <h3>Izoh qoldirish</h3>
            <form method="post" style="margin-top:1.3em">{% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg">Yuborish</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="card-body">
        <p class="text-danger">
            Faqat ro'yxatdan o'tgan foydalanuvchilar izoh qoldirishi mumkin
        </p>
        <p>
            Izoh qoldirish uchun
            <a href="{% url 'signup_page' %}" style="color: crimson">ro'yxatdan o'ting</a>
            yoki <a href="{% url 'login_page' %}" style="color: crimson">login qiling</a>
        </p>
    </div>
    {% endif %}

{% endblock %}